doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    script(src="/socket.io/socket.io.js")
    link(rel="stylesheet" href="/static/styles/tailwind.min.css")
    link(rel="stylesheet" href="/static/styles/shared.css")
    link(rel="stylesheet" href="/static/styles/chat.css")
  body
    if chat == undefined
      - chat = { messages: [] }
    section#chat.flex.flex-col.items-center.justify-start.space-y-4.pb-32
      .w-full.max-w-2xl.space-y-2
        each message in chat.messages 
          .message-wrapper.flex.w-full(
            class=message.role === 'user' ? 'justify-end' : 'justify-start'
          )
            if (message.role === 'user')
              .message-bubble.p-4.rounded-lg.shadow-md.bg-gray-700.text-white.self-end.max-w-xs
                p.text-sm.text-gray-400 #{message.role}
                p.text-base= message.content
            else
              p.text-sm.text-gray-400 #{message.role}
              p.text-base= message.content
    if chat.id 
      - formAction = "/chat/" + chat.id
    else 
      - formAction = "/chat"

    section
      form#chatForm(
        method="post",
        class="fixed bottom-0 left-0 w-full bg-gray-900 p-4 shadow-lg z-10 max-w-2xl mx-auto flex items-center space-x-4",
        data-chat-id=chat.id || '',
        style="max-width: 100vw; width: 100%;"
      )
        if chat
          input(type="hidden" name="chat_id" value=chat.id)
        input#messageInput(
          type="text",
          name="message",
          placeholder="Type your message…",
          required=true,
          autocomplete="off",
          class="w-full p-4 rounded-md bg-gray-200 text-gray-900 shadow-lg outline-none",
        )
    script(src="/static/scripts/chat.js")
